extends layout

block content
  .container
    h1 Yayıncının Çıkardığı Oyunlar
    section(id='main_content')
      table
        tbody
          tr
            th Oyun Adı
            th Tarih
          each item in games   
              tr.tdata(onclick="location.href='/game/"+item.id+"'"  onauxclick=("window.open('/game/"+item.id+"', '_blank');"))
                td( style="display:none")=item.id
                td=item.n
                - let tmp = item.rdd.substring(0,10).split("-")
                td=tmp[2]+"-"+tmp[1]+"-"+tmp[0]    
  script.
    $(function() {
      $( "input[type='checkbox']" ).click(function() {
          event.stopPropagation();
      });
      $( ".cbkutu" ).click(function() {
          event.stopPropagation();
          var tmpStatus=$(this).find("input[type='checkbox']").prop('checked')
          Dynajax('setNotify','l',setChecked,{t:this,rc:tmpStatus},false,{ status:tmpStatus,typeId:[1],targetId:parseInt($(this).attr("data-id"))});
          event.cancelBubble=true
      });
      $(".note").show()
      if ($("#note").text() =="" ){
        $(".note>.fa-trash-alt").toggle()
      }
      $(".note>.fa-paper-plane").toggle()
      $(".note>.fa-ban").toggle()
      $(".note>.fa-edit").click(function(){
        note=$("#note").text()
        $("#note").html("<input key='n' enforced value='"+note+"'/>")
        $(".note>.fa-edit,.fa-trash-alt").hide()
        $(".note>.fa-paper-plane,.fa-ban").show()
      })
      $(".note>.fa-trash-alt").click(function(){
          Dynajax('note','n',basariliReload,null,false,{ status:0,targetType:2,targetId:parseInt($("#note").attr("data-id"))});
        })
       $(".note>.fa-ban").click(function(){
          $("#note").html(note)
           $(".note>.fa-edit,.fa-trash-alt").show()
        $(".note>.fa-paper-plane,.fa-ban").hide()
        if ($("#note").text() =="" ){
        $(".note>.fa-trash-alt").toggle()
      }
        }) 
         $(".note>.fa-paper-plane").click(function(){
           Dynajax('note','n',basariliReload,null,true,{ text:$("#note>input").val(),status:1,targetType:2,targetId:parseInt($("#note").attr("data-id"))});
        })
    });