extends layout

block content
  .row
    .col-md-12
      .card
        .card-header
          h4.card-title 
        .card-body
          .row
            .col-md-12
              .tab-content
                canvas#chartTopGames
  include pure-table.pug              