extends layout

block content
  .container
    section(id='main_content')
      h1.float-left App store linki giriniz:
      input#url.float-left.ml5.custom-input(type="text")
      a#app-store.btn.ml1(name="link" data-key="a" href='javascript:void(0)')
        i.fas.fa-plus-square
        | Ekle
  script. 
    $(function() {
       $( "#app-store" ).click(function() {
          Dynajax('manuel','s',kayitBasarili,{},false,{ targetUrl: $("#url").val() });
          $("#url").val("")
      });
    });        