@page { size: auto;  margin: 0mm; }

@media print {
    *{
        -webkit-print-color-adjust: exact; 
    }
    body{
        background-color: #232323 !important;

    }

    html, body {
        height: 100%;
    }

 
}
.dummy{
    height: 0px;
    width: 100%;
    float: left;
    background-color: #3e3e3e;
}

@media only screen and (max-width: 800px) {
    body{
        margin-left: 0px  !important;
        margin-right: 0px !important;
        width: 100%  !important;
    }
  }
.renk1{
    background-color: #3e3e3e;
}
body *{
    color:#e2e2e2;
}
.top{
    height: 80px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 6px;
    padding-top: 1px;
}
.header{
    height: 40px;
    width: 100%;
}
.top h1{
    color: rgb(224 86 86);
    font-size: 45px;
    margin: 0px;
    padding: 10px;
}
body{
    font-family: 'Roboto';
 border-top: 2px;
 border-left: 2px;
 border-right: 2px;
 border-color: #fff;
 margin:0;
 padding: 6px 6px 6px 6px;
 background-color: #232323;
 zoom: 0.8;
 width: 800px;
 margin: auto;
}
.ml0{
    margin-left: 0px;
}
.mb1{
    margin-bottom: 4px;
}
.mt2{
    margin-top: 6px;
}
.mt1{
    margin-top: 4px;
}
.mt5{
    margin-top: 20px;
}
.pb7{
    padding-bottom: 28px;
}
.s{
    box-shadow: 0px 1px 15px -4px black;
}
.p {
    padding: 16px;
}
.f{
    font-size: 18px;
    font-weight: bold;
}
.fb{
    background-color: #5a5a5a;
    padding: 16px;
}
.list li:nth-child(odd){
    background-color: #cee4e6;
}
.list li:nth-child(even){
    background-color: #bddade;;
}
.list li:nth-child(odd) .node h2{
    background-color: #cee4e6;
}
.list li:nth-child(even) .node h2{
    background-color: #bddade;;
}
.list li{
    width: 100%;
    list-style-type: none;
    padding-top: 5%;
    padding-bottom: 5%;
}

.list{
    padding: 0px;
    margin: 0px;
    box-shadow: 0px 6px 5px 0px black;
    border: 2px solid #fff;
}
.rigth{
    width: 100%;
    float: right;
}
.left{
    width: 100%;
    float: left;
    height: auto;
}
.pre,.pdf,.delete,.ced{
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    float: right;
    margin-top: 13px;
    margin-right: 10px;
}
.clear{
    clear:both;
}
h2{
    margin-top: 0px;
    margin-left: 18px;
    font-size: 34px;
    margin-bottom: 10px;
}
.imgtxt{
    font-weight: bold;
    color: white;
    font-size: 30px;
    background-color: #5a5a5a;
    opacity: 0.7;
}
.imgtxt {
    margin: 0px auto;
    position: relative;
    display: inline-block;
    bottom: 50px;

}
#imgsh{
    text-align: center;
    display: none;
}
#mantrah{
    display: none;
    margin-bottom: 5px;
}
.center {
    text-align: center;
    height: 0px;
}
.yns{
    width: 46%;
    float: left;
    margin: 2%;
    text-align: center;
}
.yns2{
    width: 99.5%;
    float: left;
    height: 98%;
}
.splide{
    height: 100%;
}
.slide-image{
    width: 100%;
    height: 390px;
    object-fit: contain;
    cursor: pointer;
}
.splide__slide{
    margin: auto;
}
.splide__pagination{
    bottom: 0 !important;
    margin-bottom: -18px !important;
}
#imgsh .slide-image{
    margin-top: 6px;
}
a{
    color: #99b7ef;
    font-weight: bold;
    font-size: 20px;
}
input#name{
    height: 40px;
    margin: 20px;
}
textarea{
    width: 100%;
}
input,textarea{
    color:black;
}

*::placeholder{
    color :red;
    opacity: 1;
}
input.link,input.textlink{
    width: 48%;
    margin-top: 5px;
}
input.textlink{
   float: right;
}

 
.design-remove,.design-add,.add-dot,.link-remove,.link-add,.splide-add,.splide-remove,.splide-remove2{
    font-weight: bold;
    width: 25px;
    float: left;
    margin-left: -30px;
    background-color: #a09f9e;
    border-radius: 6px;
    font-size: 20px;
    text-align: center;
    color: black;
    cursor: pointer;
    user-select: none;
}
.splide-add{
    float: right;
    margin-right: -30px;
    margin-top: 25%;
}
.splide-remove{
    float: right;
    margin-right: 5px;
    margin-top: 16px;
}
.splide-remove2{
    float: right;
    margin-right: 5px;
    margin-top: 16px;
    position: relative;
}

.youtube{
    width: 65px;
    font-size: 18px;
    border-radius: 6px;
    font-weight: bold;
    padding: 4px;
    cursor: pointer;
    color: white;
    background-color: red;
    position: absolute;
    top: 15px;
    left: 15px;
    font-family: initial;
}
.upload{
    width: 100px;
    font-size: 18px;
    border-radius: 6px;
    font-weight: bold;
    padding: 4px;
    cursor: pointer;
    color: white;
    background-color: rgb(53, 100, 47);
    position: absolute;
    top: 15px;
    left: 100px;
    font-family: initial;
}
#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3e3e3e;
    border-right: 16px solid #1b73b8;
    border-bottom: 16px solid #3e3e3e;
    border-left: 16px solid #1b73b8;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: sticky;
    top: 25%;
    left: 42%;
    float: left;
    z-index: 1000;
    display: none;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  #shadow-mask{
    height: 100%;
    width: 100%;
    background-color: black;
    position: fixed;
    opacity: 0.5;
    display: none;
    z-index: 999;
}
